<h1>mkfriend(1)</h1>

<p>How well do you know the thoughtbottles? Can you match them all to their
avatar? Start the game to find out!</p>

<%= form_for @game do |form| %>
  <%= form.submit 'Start' %>
<% end %>
