@charset 'utf-8';

@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';

body {
  @include outer-container;
  margin-top: 2em;
}

#flash_success {
  @extend %flash-success;
}

#flash_error {
  @extend %flash-error;
}

#flash_notice {
  @extend %flash-notice;
}

.to-guess {
  max-height: 220px;
  margin-bottom: 3em;
  width: auto;
}

.thumbnail {
  width: auto;
  max-height: 110px;
}

.correct {
  background-color: rgb(230,255,230);
}

.wrong {
  background-color: rgb(255,230,230);
}

#previous-person {
  @include span-columns(5);
  padding-right: 2em;
  border-right: 3px solid #AAA;
  height: 500px;
}

#current-person {
  @include span-columns(5);
  @include shift(0.5);
}

ul {
  @extend %default-ul;
}

#stats {
  margin-top: 0.4em;
}
